{% extends 'base.html' %}

<!-- Page Title -->
{% block title %}
Home | CartNest
{% endblock %}

<!-- Main Content -->
{% block content %}

<!-- ========================= HERO SECTION ========================= -->
<div class="container py-5 text-center">
    <h1 class="display-4 fw-bold">
        Shop Smarter with CartNest
    </h1>

    <p class="lead mt-3">
        Discover amazing products at unbeatable prices.
    </p>

    <!-- Hero Buttons -->
    <div class="mt-4">
        <a href="#" class="btn btn-primary btn-lg me-3">
            Shop Now
        </a>

        <a href="#" class="btn btn-outline-dark btn-lg">
            Explore Products
        </a>
    </div>
</div>

<!-- ====================== FEATURED CATEGORIES ===================== -->
<div class="container py-5">

    <h2 class="text-center fw-bold mb-5">
        Featured Categories
    </h2>

    <div class="row">

        <!-- Electronics Card -->
        <div class="col-md-3 mb-4">
            <div class="card shadow h-100 text-center">
                <div class="card-body">
                    <h1>📱</h1>
                    <h5 class="mt-3">Electronics</h5>
                </div>
            </div>
        </div>

        <!-- Fashion Card -->
        <div class="col-md-3 mb-4">
            <div class="card shadow h-100 text-center">
                <div class="card-body">
                    <h1>👕</h1>
                    <h5 class="mt-3">Fashion</h5>
                </div>
            </div>
        </div>

        <!-- Shoes Card -->
        <div class="col-md-3 mb-4">
            <div class="card shadow h-100 text-center">
                <div class="card-body">
                    <h1>👟</h1>
                    <h5 class="mt-3">Shoes</h5>
                </div>
            </div>
        </div>

        <!-- Watches Card -->
        <div class="col-md-3 mb-4">
            <div class="card shadow h-100 text-center">
                <div class="card-body">
                    <h1>⌚</h1>
                    <h5 class="mt-3">Watches</h5>
                </div>
            </div>
        </div>

    </div>
</div>

    <!-- Dynamic Category Buttons -->
<div class="mb-4">

    <h4>Categories</h4>

    <!-- Show All Products -->
   <a href="/"
   class="btn {% if not request.GET.category %}btn-dark{% else %}btn-outline-dark{% endif %} me-2">
    All
    </a>

    <!-- Loop Through All Categories -->
    {% for category in categories %}

    <a href="?category={{ category.id }}"
        class="btn {% if request.GET.category == category.id|stringformat:'s' %}btn-dark{% else %}btn-outline-primary{% endif %} me-2">

    {{ category.name }}

    </a>
    {% endfor %}

</div>
<!-- ======================== SEARCH BAR ======================== -->
<div class="container mb-4">

    <form method="GET">

        <div class="input-group">

            <input
                type="text"
                name="search"
                class="form-control"
                placeholder="Search products..."
                value="{{ request.GET.search }}">

            <button class="btn btn-primary" type="submit">
                Search
            </button>

        </div>

    </form>

</div>

</div>
<!-- ======================= FEATURED PRODUCTS ====================== -->
<div class="container py-5">

    <h2 class="text-center fw-bold mb-5">
        Featured Products
    </h2>

    <div class="row">

       {% for product in products %}
        <div class="col-md-3 mb-4">

            <a href="{% url 'product_detail' product.id %}" class="text-decoration-none text-dark">

            <div class="card shadow h-100">

            {% if product.image %}
                    <img src="{{ product.image.url }}"
                         class="card-img-top product-image"
                         alt="{{ product.name }}">
                {% else %}
                    <!-- Display Placeholder Image -->
                    <img src="https://placehold.co/300x250?text=No+Image"
                         class="card-img-top product-image"
                         alt="No Image">
                {% endif %}

                <!-- Product Information -->
                <div class="card-body d-flex flex-column">

                    <!-- Product Name -->
                    <h5 class="card-title">
                        {{ product.name }}
                    </h5>

                    <!-- Product Category -->
                    <p class="text-muted mb-2">
                        Category: {{ product.category.name }}
                    </p>

                    <!-- Product Price -->
                    <p class="text-success fw-bold">
                        ₹{{ product.price }}
                    </p>

                    <!-- Product Rating -->
                    <p>
                        ⭐⭐⭐⭐⭐
                    </p>

                    <!-- Add to Cart Button -->
                    

                    </div>
                    <a href="{% url 'add_to_cart' product.id %}"        class="btn btn-primary w-100 mt-auto">
                        Add to Cart
                    </a>

            </div>
            </a>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}

